html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: aqua;
}

img {
    height: auto;
    width: 600px;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-flex;
    border-top: 10px double aqua;
    border-bottom: 10px double aqua;
    border-left: 10px solid aqua;
    border-right: 10px solid aqua;
    padding: 5px;
    margin: 10px;
}

h2 {
    color: darkgoldenrod;
    font-size: 30px;
}

h3 {
    color: darkgoldenrod;
    font-size: 30px;
}

h4 {
    color: darkgoldenrod;
    font-size: 30px;
}

a  {
    color: red;
    font-size: 30px;
    border-top: 2px double aqua;
    border-bottom: 2px double aqua;
    border-left: 5px solid aqua;
    border-right: 5px solid aqua;
    padding: 0.5;
    margin: 0.5;

}
